.list-menu-float {
  border: none;
  .icon-menu {
    svg.icon {
      fill: #bbb;
    }
    &:hover .icon {
      fill: #fff;
    }
  }
  @each $ct, $smct in $cat {
    body[data-query*="#{map-get($smct, 'status')}"] & .icon-menu {
      &.setting:hover {
        width: 50px;
        .text .link-list-setting, .text .link-style-setting {
          background: rgba(map-get($smct, 'color'), 0.6);
          &:hover {
            background: rgba(map-get($smct, 'color'), 0.8);
          }
        }
      }
      &:not(.profile) {
        background: rgba(map-get($smct, 'color'), 0.4);
        &:hover {
          background: rgba(map-get($smct, 'color'), 0.6);
        }
      }
    }
  }
}