### Node ###
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### Adobe ###
# Adobe Source Files
*.psd

### Own ###
# images
src/image/