@mixin link-effect($col:#ff004d) {
  text-shadow: 10px 0 transparent, -10px 0 transparent;
  transition: all 0.2s linear;
  &:hover {
    color: $col;
    text-decoration: none;
    text-shadow: 0 0 $col, 0 0 $col;
  }
}