$b: 'https://dl.dropboxusercontent.com/sh/cs283ctwppk5ybs/';
@font-face {
  font-family: 'mal';
  src: url('#{$b}AABBXevkoJ_8eNTuwf3SpDbba/icons/mal.eot');
  src: url('#{$b}AABBXevkoJ_8eNTuwf3SpDbba/icons/mal.eot?#iefix') format('embedded-opentype'),
    url('#{$b}AAC1xmzSQukAdGOXJwkpH2cJa/icons/mal.woff') format('woff'),
    url('#{$b}AAALzSnC2kAHMnXt1HIPTtB5a/icons/mal.ttf') format('truetype'),
    url('#{$b}AACgAjrFpm3jnl9AZDyw0BDya/icons/mal.svg#mal') format('svg');
  font-weight: normal;
  font-style: normal;
}