#fancybox {
  &-close {
    display: none !important;
  }
  &-overlay {
    background-color: rgba(28, 28, 28, 0.6) !important;
    opacity: 1 !important;
  }
  @at-root div#{&} {
    &-inner {
      box-shadow: 0 0 0 1px #5c5c5c;
    }
    &-wrap {
      box-sizing: content-box;
      position: fixed;
    }
  }
}