#fancybox {
  &-overlay {
    background-color: rgba(28, 28, 28, .6) !important;
    opacity: 1 !important;
  }
  &-wrap {
    box-sizing: content-box;
    position: fixed !important;
    top: 5% !important;
  }
  &-close {
    display: none !important;
  }
}
div#fancybox {
  &-outer, &-inner {
    box-sizing: content-box;
    padding: 50px;
  }
  &-outer {
    background-color: #1c1c1c;
  }
  &-inner {
    box-shadow: inset 0 0 0 1px #5c5c5c;
    color: #ccc;
  }
}